<article class="cart-item">
    <div class="cart-item-info">
        <h2>Title</h2>
        <p>Total price</p>
    </div>
    <div class="cart-item-management">
        <input type="number" required>
        <button class="btn btn-alt">Update</button>
    </div>
</article>